* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}


header {
    background-color: #009688;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2em;
}


nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}


main {
    text-align: justify;
    margin-top: 30px;

    margin: 0 40px;

}

h2 {
    color: #009688;
    margin-bottom: 15px;
}

section {
    margin-bottom: 30px;
}


form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

button {
    background-color: #009688;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1em;
}

button:hover {
    background-color: #00796b;
}


footer {
    background-color: #009688;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}

footer p {
    font-size: 1em;
}


@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    form {
        padding: 15px;
    }
}
.container {
    display: flex;
    align-items: center;
    gap: 20px;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.area-jogo, .lixeiras {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  list-style: none;
  padding: 0;
}

.lixeira {
  width: 100px;
  height: 100px;
  border: 2px dashed #4CAF50;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.item {
  font-size: 40px;
  cursor: grab;
}

img {
  display: flex;
  justify-content: space-between;
}